/* style sheet for coding quiz, TWH, 6-15-21 */

/* Resets the box size of every element */
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial;
  }

  .highscores {
    margin-left: 50px;
  }

  .timer {
    text-align:right;
    margin-top:-15px;
    margin-right: 50px;
  }

  .start-screen {
    text-align:center;
  }

  .start-screen h1 {
      text-align:center;
      margin-top:80px;
      font-size:30px;
  }

  .start-screen p {
      margin-top:10px;
      font-size:15px;
  }

  .start-btn, .back-btn, .clear-btn {
    margin-top: 30px;
    background-color: rgb(236, 184, 236);
    padding:10px;
    border: solid 3px black;
    border-radius: 3px;
  }

  .start-btn:hover, .back-btn:hover, .clear-btn:hover {
      background-color: rgb(98, 248, 98);
  }

  .scores-screen {
    text-align:center;
    padding:50px;
  }

  .scores-screen h1  {
      font-size:30px;
      margin-bottom:30px;
  }


  .score-1 {
      background-color: rgb(98, 248, 98);
      padding:10px;
      border-radius:5px;
  }

  .score-2 {
      background-color: thistle;
      padding:10px;
      border-radius:5px;
  }

  .score {
    text-align:center;
    margin-top:30px;
  }

  .answers {
    text-align:center;
    display: none;
    margin-top:20px;
  }

  .answer1:hover, .answer2:hover, .answer3:hover, .answer4:hover {
    background-color:rgb(98, 248, 98)
  }

  .feedback {
    text-align:center;
    margin-top:40px;
    color:gray
  }

  .instructions {
    margin-top:30px;
  }

  

 



  

